body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
    margin: 0%;
   
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-with{
    width: 50%;
    padding-left: 70px;
    padding-top: 30px;
}
.half-with img{
    width: 85%;
    padding-left: 50px;
}
h1{
    font-size: 50px;

}

.name-color{
    color: orangered;
}
.link-buttom{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orangered, red);
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
}
.section2 img{
    width: 80%;
}
.section2{
    width: 50%;
}
.big-dream{
    background-image:url(images/big-dream-bd.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 5%;
}
.exprience-item{
    width: 40%;
    padding-left: 70px;
    box-shadow: 10px 10px 40px gray;
    margin-left: 50px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.full-stack-devoloper{
    font-size: 40px;
}
.baby-devoloper{
    font-size: 40px;
}
.exprience-section{
    background-image: url(images/xepreancebg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#expreienceitem1{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#expreienceitem2{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(39, 12, 189),rgb(13, 226, 13));
    border-image-slice: 1;
}
footer{
    text-align: center;
    color: gray;
}